
#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* #container {
    height: 480px;
    width: 480px;
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
} */

.reset {
    /* margin: 18px; */
    width: 480px;  
    display: flex;
}

.grid {
    height: 480px;
    width: 480px;
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.gridBox {
    /* flex-grow: 1; */
    border: 1px solid black;
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    gap: 0px;
    /* min-width: 120px; */
}